body, html {
	height:100vh;
	width:100vw;
	position:relative;
}

body {
	overflow:hidden;
}

h1 {
	margin:0;
	font-weight:900;
}

/* SCROLLING */
.panel {
	width:100vw;
	height:100vh;
	z-index:0;
	position:relative;
}

.inner {
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}

.hidden {
	.inner {
		h1, h3, div, button {
			opacity:0;
			transform:translate3d(0, 0, 0) rotateY(40deg);
		}
	}
}

/* INTRO */
#intro {
	position:relative;
	text-align:center;
	text-transform:uppercase;

	transform-style:preserve-3d;
	transform:perspective(1px);

	> .inner {
		position:relative;
	}

	h1, button {
		transition:all 0.5s ease;
	}
}

/* BEFORE BEGIN */
#before_begin {
	position:relative;
	text-align:center;

	> .inner {
		width:100vw;
		position:absolute;
	}

	h1, h3, button {
		transition:all 1s ease;
	}
}

/* MULTIPLICATION TABLE */
#table {
	position:relative;
	text-align:center;

	> .inner {
		position:relative;
	}

	div {
		transition:all 1s ease;
	}
}
